.nav-cont {
  width: 100vw;
  height: 70px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
}
.nav-logout-btn {
  position: relative;
  top: 110%;
  color: purple;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid purple;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  background: transparent;
  transition: all 1s;
  overflow: hidden;
}

.nav-logout-btn:hover {
  color: white;
}

.nav-logout-btn::before {
  content: "";
  position: absolute;
  border-radius: 10px;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: purple;
  z-index: -1;
  transition: all 1s;
}

.nav-logout-btn:hover::before {
  width: 160%;
}

.navbar-outer-cont {
  width: 100vw;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1111;
  height: 70px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.05);
}
.nav-links-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  display: flex;
  gap: 24px;
}
.bars-cont {
  cursor: pointer;
}
.nav-links-list-item {
  color: #800080;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.nav-btn-cont {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  width: 30vw;
  display: flex;
  gap: 24px;
}
.logo-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
}
.logo-cont img {
  width: 160px;
  height: 63px;
}
.nav-login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #800080;
  color: #800080;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 123.5%; /* 19.76px */
}

.nav-signup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #800080;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 123.5%; /* 19.76px */
}
.bars-cont {
  display: none;
}

@media screen and (max-width: 1000px) {
  .bars-cont {
    display: block;
  }
  .nav-cont {
    padding: 0 10px;
    box-sizing: border-box;
  }
  .nav-links-cont {
    display: none;
  }
  .nav-logout-btn {
    top: 0;
    text-align: center;
    margin-top: 10px;
  }
  .mnav-cont {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 1111111111;
  }
  .mnav-inner-cont {
    display: flex;
    width: 100vw;
    flex-direction: column;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .nav-links-list-item {
    color: #800080;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .nav-login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #800080;
    color: #800080;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 19.76px */
    max-width: 350px;
  }
  .nav-signup-btn {
    width: 75vw;
    max-width: 350px;
    font-size: 20px;
  }
  .close img {
    width: 25px;
  }
  .logbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(50px, 15vw, 350px);
    height: auto;
    padding:10px 0;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #800080;
    color: #800080;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 19.76px */
    max-width: 350px;
  }
  .logo-cont {
    width: clamp(100px, 12vw,160px);
  }
  .logo-cont img {
    width: clamp(100px, 12vw,160px);
  }
  .signbtn {
    width: clamp(50px, 15vw, 350px);
    max-width: 350px;
    font-size: 12px;
    height:auto;
    padding: 12px 0;
  }
}

@media screen and (max-width: 768px) {
  .nav-cont {
    width: 100vw;
    height: 70px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    box-sizing: border-box;
  }
  .navbar-outer-cont {
    width: 100vw;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1111;
    height: 70px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.05);
  }

  .logo-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .logo-cont img {
    width: 160px;
    height: 63px;
  }
  .nav-login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #800080;
    color: #800080;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 19.76px */
  }

  .nav-signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #800080;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 19.76px */
  }
  .mnav-cont {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 1111111111;
  }
  .mnav-inner-cont {
    display: flex;
    width: 100vw;
    flex-direction: column;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .nav-links-list-item {
    color: #800080;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .nav-login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #800080;
    color: #800080;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 19.76px */
    max-width: 350px;
  }

  .nav-signup-btn {
    width: 75vw;
    max-width: 350px;
    font-size: 20px;
  }
  .logbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(50px, 15vw, 350px);
    height: auto;
    padding:10px 5px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #800080;
    color: #800080;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 19.76px */
    max-width: 350px;
    margin: 0;
  }
  /* .logo-cont {
    width: 120px;
  }
  .logo-cont img {
    width: 120px;
  } */
  .signbtn {
    width: clamp(50px, 15vw, 350px);
    max-width: 350px;
    font-size: 12px;
    height:auto;
    padding: 12px 5px;
    
  }
  .nav-btn-contt{
    gap: 5px;
  }
  .close img {
    width: 25px;
  }
}
